@model Nance.Domain.Budget

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Budget</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalDollarsRemaining)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalDollarsRemaining)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalOutstanding)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalOutstanding)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
